h1, h2, p{
    color: white;
}

.createClassHeading{
    color: black;
    font-family: "Futura PT";
}

body{
  padding: 15px;
  transition: all .5s;
  background: url("../images/background.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Sidebar */
#sidebar-wrapper{
  z-index:1;
  position: absolute;
  width:0;
  height:100%;
  overflow-y:hidden;
  background: #81D855;
  opacity:0.9;
	transition:all .5s;
	align-items:center;
}

/* Main Content */
#page-content-wrapper{
  width: 100%;	
  height: 100%;
}

#menu-toggle{
	transition:all .3s;
	font-size:2em;
}
/* Change the width of the sidebar to display it*/
#wrapper.menuDisplayed #sidebar-wrapper{
  width:250px;
}

#wrapper.menuDisplayed #page-content-wrapper{
  padding-left:250px;
    
}

/* Sidebar styling */
.sidebar-nav{
  padding:0;
  list-style:none; 
  transition:all .5s;
  width:100%;
  text-align:center;
}

.sidebar-nav li{
  line-height:40px;  
	width:100%;
	transition:all .3s;
	padding:10px;
}

.sidebar-nav .liElement a {
  display:block;
  text-decoration:none;
  color:#ddd;
  border-radius: 0 0 10px 10px;
  box-shadow: 10px;
}

.sidebar-nav .liElement:hover{
  background:#846bab;
}

.chemPalLogo{
    background: url("../images/webLogoSmall.png");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: contain;
    width: 100%;
    height: 100px;
}

.profileInfo{
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: contain;
    height: 200px;
    width: 100%;
}
.profileInfoText{
    height: 100px;
    width: 100%;
}

.classMenu {
    display: none;
    max-height: 200px;
    overflow: hidden;
    -webkit-transition: all 0.5s ease-out;
    list-style: none;
    padding: 0;
    margin: 0;
}
.infoContainer{
    width: 100%;
    height: 300px;
}

.createContainer{
    background-color: #fff;
    width: 90%;
    height: 100%;
    border-radius: 10px;
    padding:10px;
}

.createOptions{
    float: left;
    width: 50%;
    height: 100%;
}

.studentsList{
    float: left;
    width: 50%;
    height: 100%;
    
}

.indented{
     text-indent: 50px;
}